@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Patua+One&family=Signika:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Kanit&family=Patua+One&family=Signika:wght@300&display=swap');




.card{
    background-color: #9BA3EB;
    margin: 5px;
    color: white;
}
.btn{
    background-color: #FFE3A9;
    color: black;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    font-family: 'Signika', sans-serif;
    margin: 10px;
    font-weight: bold;
}
 p, .form-control, .card-text{
    font-family: 'Kanit', sans-serif;
    color: black;
}
h4 {
    font-family: 'Bree Serif', serif;
    color: black;

}
h5, .card-title, label{
    font-family: 'Patua One', cursive;
    color: black;

}
.card-text:hover{
    text-decoration: none;
}
.navbar {
    background-color: #9BA3EB;
    font-family: 'Signika', sans-serif;
}
.dropdown-item {
    font-family: 'Signika', sans-serif;
}
.rempoa{
    font-family: 'Alfa Slab One', cursive;
}
img{
    height: 50px;
    width: 50px;
}
h1{
    font-family: 'Titan One', cursive;
    font-size: 4vw;
}
body{
    background-color: #E8F9FD;
}